<%= render "shared/header" %>

<div class="container mt-5">
  <div class="card-user p-5">
  <!-- Button trigger modal -->
    <div class="d-flex flex-direction-row align-items-center">
      <%= image_tag (cl_image_path current_user.photo.key), class: "avatar-xl", alt: "avatar-large" %>
      <h3 class="ms-3"><%= current_user.first_name %> <%= current_user.last_name %></h3>

    </div>

    <h5 class="mt-5 mb-4">Informations personnelles</h5>
      <% if current_user.is_pro == false %>
        <div>
          <h6>Bio</h6>
          <p><%= current_user.bio %></p>
        </div>
        <div class="d-flex flex-row justify-content-start">
          <h6>Statut</h6>
          <span class="badge rounded-pill text-bg-dark">Professionnel</span>
        </div>
        <div>
          <h6>Entreprise</h6>
          <p><%= current_user.company %></p>
        </div>
        <div>
          <h6>Email</h6>
          <p><%= current_user.email %></p>
        </div>
        <div>
          <h6>Numéro de téléphone</h6>
          <p><%= current_user.phone_number %></p>
        </div>
        <div>
          <h6>Siret</h6>
          <p><%= current_user.siret %></p>
        </div>
      <% else %>
        <div class="d-flex lex-direction-row align-items-baseline">
          <h6>Statut</h6>
          <span class="badge rounded-pill text-bg-primary ms-3">Particulier</span>
        </div>
        <div class="d-flex lex-direction-row align-items-baseline">
          <h6>Email</h6>
          <p class="ms-3"><%= current_user.email %></p>
        </div>
        <div class="d-flex lex-direction-row align-items-baseline">
          <h6>Numéro de téléphone</h6>
          <p class="ms-3"><%= current_user.phone_number %></p>
        </div>
      <% end %>
    <div class="d-flex lex-direction-row justify-content-end">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile-edit">Modifier</button>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="profile-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Modifier mon profil</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>En attente de conformation : <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password,
                        hint: "Laissez cette partie vide si vous ne voulez pas changer",
                        required: false,
                        input_html: { autocomplete: "Nouveau mot de passe" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "Confirmer mon nouveau mot de passe" } %>
            <%= f.input :current_password,
                        hint: "Nous avons besoin de votre mot de passe actuel pour modifier votre compte",
                        required: true,
                        input_html: { autocomplete: "Mot de passe actuel" } %>
          </div>

          <div class="form-actions btn btn-primary">
            <%= f.button :submit, "Modifier" %>
          </div>
        <% end %>

        <h6>Supprimer mon compte ?</h6>

        <div class="d-flex align-items-center">
          <%= button_to "Supprimer", registration_path(resource_name), data: { confirm: "Êtes vous sûr ?" }, method: :delete, class: "btn btn-link" %>
        </div>

      </div>
    </div>
  </div>
</div>
