<div class="container-header">
</div>

<div class="container">
  <div class="card-user">
  <!-- Button trigger modal -->
    <div class="d-flex flex-direction-row justify-content-start">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle me-2", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
    </div>

      <% if current_user.is_pro %>
        <span class="badge rounded-pill text-bg-dark">Professionnel</span>
        <p><%= current_user.company %></p>
        <p><%= current_user.email %></p>
        <%= current_user.phone_number %>
        <p><%= current_user.siret %></p>
        <p><%= current_user.bio %></p>
      <% else %>
        <span class="badge rounded-pill text-bg-primary">Particulier</span>
        <p><%= current_user.email %></p>
        <%= current_user.phone_number %>
      <% end %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile-edit">
      Modifier
    </button>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="profile-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Modifier mon profil</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "Nouveau mot de passe" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "Confirmer mon nouveau mot de passe" } %>
            <%= f.input :current_password,
                        hint: "Nous avons besoin de votre mot de passe actuel pour modifier votre compte",
                        required: true,
                        input_html: { autocomplete: "Mot de passe actuel" } %>
          </div>

          <div class="form-actions btn btn-primary">
            <%= f.button :submit, "Modifier" %>
          </div>
        <% end %>

        <h6>Supprimer mon compte ?</h6>

        <div class="d-flex align-items-center">
          <%= button_to "Supprimer", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link" %>
        </div>

      </div>
    </div>
  </div>
</div>
