<div class="d-flex justify-content-between align-items-baseline">
  <h1>Planning</h1>
</div>

<%= week_calendar(events: @project.tasks, end_attribute: :end_date) do |date, tasks| %>
    <span class="badge rounded-pill text-bg-secondary"><%= date %></span>


  <% tasks.each do |task| %>
    <div class="meeting-card">
      <a data-bs-toggle="modal" data-bs-target="#task-<%= task.id %>">
        <p class="meeting-title"><%= task.name %></p>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <% if task.status == 'Faite' %>
            <small class="task-status text-success"><i class="fa-solid fa-circle-check"></i></small>
          <% else %>
            <% unless task.multi_days? %>
              <small><%= task.time  %></small>
            <% else %>
              <small class="calendar-badge">Multi</small>
            <% end %>
          <% end %>
          <% if task.user %>
            <%= image_tag (cl_image_path task.user.photo.key), class: "avatar-task", alt: "avatar" %>
          <% end %>
        </div>
      </a>
    </div>
    <div class="modal fade" id="task-<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="task-<%= task.id %>" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-4">
          <div class="modal-header">
            <h4 class="modal-title" id="newtaskLabel"><%= task.name %></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex justify-content-between">
              <% if task.user %>
                <div>
                  <span class="label"><i class="fa-regular fa-user"></i></i> Artisan</span>
                  <p> <%= task.user.first_name %> <%= task.user.last_name %> </p>
                </div>
              <% end %>
              <div>
                <% if task.user %>
                  <%= image_tag (cl_image_path task.user.photo.key), class: "avatar", alt: "avatar" %>
                <% end %>
              </div>
            </div>
            <div>
              <span class="label">Description</span>
              <p><%= task.description %></p>
            </div>
            <div>
              <span class="label"><i class="fa-solid fa-list-check"></i> Statut</span>
              <p> <%= task.status %></p>
            </div>
            <% if task.start_date && task.end_date %>
              <div>
                <span class="label"><i class="fa-regular fa-calendar"></i> Prévue le</span>
                <p>Du <%= I18n.l task.start_date, format: '%e %B' %> au <%= I18n.l task.end_date, format:'%e %B' %></p>
              </div>
            <% end %>
            <% if task.category %>
              <div>
                <span class="label"><i class="fa-solid fa-paint-roller"></i> Type</span>
                <p><%= task.category %></p>
              </div>
            <% end %>
            <div class="d-flex justify-content-between">
              <%= link_to chatrooms_path do  %>
                <button type="button" class="btn btn-primary">Contacter  <% if task.user %> <%= task.user.first_name %> <% end %> 💬</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
            </div>
    <div>

  <% end %>

<% end %>
