<div class="bg-todo">
  <div class="d-flex justify-content-between">
    <h4>Tâches</h4>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newtask">
      Ajouter une tache
    </button>
  </div>
  <div class="row me-5" data-controller="drag" data-drag-animation-value="150" data-drag-name-value="task">
    <div class="col-4">
      <p class="ms-5">A faire</p>
      <ul class="todo-section colonne" data-drag-target="todo" >
      <% @tasks.order(position: :asc).each do |task| %>
        <li data-id="<%= task.id %>" data-move="<%= move_path(task) %>" class="task-card d-flex flex-column justify-content-between link-card">
          <a data-bs-toggle="modal" data-bs-target="#task-<%= task.id %>">
            <div class="d-flex justify-content-between">
              <h6><%= task.name %></h6>
              <span class="badge text-bg-dark">Peinture</span>
            </div>
            <div class="d-flex justify-content-between">
              <p><i class="fa-solid fa-calendar"></i> 02/09</p>
              <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
            </div>
          </a>
        </li>
      <% end %>
      </ul>
      <% @tasks.order(position: :asc).each do |task| %>
        <div class="modal fade" id="task-<%= task.id %>" tabindex="-1" aria-labelledby="task-<%= task.id %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content rounded-4">
              <div class="modal-header">
                <h4 class="modal-title" id="newtaskLabel"><%= task.name %></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h6>Description</h6>
                <p><%= task.description %></p>
                <div class="d-flex justify-content-between">
                  <p>Début: <%= task.start_date %></p>
                  <p>Fin : <%= task.end_date %></p>
                </div>
                <div class="d-flex justify-content-end">
                  <%= link_to room_task_path(@room, task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do  %>
                    <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-xmark px-2"></i>Supprimer</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <p class="ms-5">En cours</p>
      <ul data-drag-target="inProgress" class="colonne"></ul>
    </div>
    <div class="col-4">
      <p class="ms-5">Complété</p>
      <ul data-drag-target="done" class="colonne"></ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newtask" tabindex="-1" aria-labelledby="newtask" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newtaskLabel">Nouvelle tâche</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@room, @task] do |f| %>
          <%= f.input :name, label: 'Titre', required: false, autofocus: true, :label_html => { :class => 'label' } %>
          <%= f.input :description, label: 'Description', required: false, autofocus: true, :label_html => { :class => 'label' } %>
          <%= f.submit "Ajouter", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
