<div class="bg-todo">
  <div class="d-flex justify-content-between">
    <h4>Tâches</h4>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newtask">
      <i class="fa-solid fa-plus"></i> Ajouter une tache
    </button>
  </div>
  <div class="row me-5" data-controller="drag" data-drag-animation-value="150" data-drag-name-value="task">
    <div class="col-4">
      <p class="ms-5">A faire</p>
      <ul class="todo-section colonne" data-drag-target="todo" >
      <% @todo.order(position: :asc).each do |task| %>
        <li data-id="<%= task.id %>" data-move="<%= move_path(task) %>" class="task-card d-flex flex-column justify-content-between link-card">
          <a data-bs-toggle="modal" data-bs-target="#task-<%= task.id %>">
            <div class="d-flex justify-content-between">
              <h6><%= task.name %></h6>
              <% if task.category %>
                <span class="task-badge"><%= task.category %></span>
              <% end %>
            </div>
            <div class="d-flex justify-content-between align-items-end pt-3">
              <% if task.start_date && task.end_date %>
                <p class=""><i class="fa-solid fa-clock-rotate-left"></i> <%= I18n.l task.end_date, format: '%e %B' %></p>
              <% end %>
              <% if task.user %>
                <%= image_tag (cl_image_path task.user.photo.key), class: "avatar", alt: "avatar" %>
              <% end %>
            </div>
          </a>
        </li>
      <% end %>
      </ul>
      <% @tasks.order(position: :asc).each do |task| %>
        <div class="modal fade" id="task-<%= task.id %>" tabindex="-1" aria-labelledby="task-<%= task.id %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content rounded-4">
              <div class="modal-header">
                <h4 class="modal-title" id="newtaskLabel"><%= task.name %></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="d-flex justify-content-between">
                  <% if task.user %>
                    <div>
                      <span class="label"><i class="fa-regular fa-user"></i></i> Artisan</span>
                      <p> <%= task.user.first_name %> <%= task.user.last_name %> </p>
                    </div>
                  <% end %>
                  <div>
                    <% if task.user %>
                      <%= image_tag (cl_image_path task.user.photo.key), class: "avatar", alt: "avatar" %>
                    <% end %>
                  </div>
                </div>
                <div>
                  <span class="label">Description</span>
                  <p><%= task.description %></p>
                </div>
                <div>
                  <span class="label"><i class="fa-solid fa-list-check"></i> Statut</span>
                  <p> <%= task.status %></p>
                </div>
                <% if task.start_date && task.end_date %>
                  <div>
                    <span class="label"><i class="fa-regular fa-calendar"></i> Prévue le</span>
                    <p>Du <%= I18n.l task.start_date, format: '%e %B' %> au <%= I18n.l task.end_date, format:'%e %B' %></p>
                  </div>
                <% end %>
                <% if task.category %>
                  <div>
                    <span class="label"><i class="fa-solid fa-paint-roller"></i> Type</span>
                    <p><%= task.category %></p>
                  </div>
                <% end %>




                <div class="d-flex justify-content-between">
                  <%= link_to chatrooms_path do  %>
                    <button type="button" class="btn btn-primary">Contacter  <% if task.user %> <%= task.user.first_name %> <% end %> 💬</button>
                  <% end %>
                  <%= link_to room_task_path(@room, task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do  %>
                    <button type="button" class="btn btn-delete"><i class="fa-solid fa-xmark px-2"></i>Supprimer</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <p class="ms-5">En cours</p>
      <ul data-drag-target="inProgress" class="colonne">
        <% @inprogress.order(position: :asc).each do |task| %>
          <li data-id="<%= task.id %>" data-move="<%= move_path(task) %>" class="task-card d-flex flex-column justify-content-between link-card">
            <a data-bs-toggle="modal" data-bs-target="#task-<%= task.id %>">
              <div class="d-flex justify-content-between">
                <h6><%= task.name %></h6>
                <% if task.category %>
                  <span class="task-badge"><%= task.category %></span>
                <% end %>
              </div>
              <div class="d-flex justify-content-between align-items-end pt-3">
                <% if task.start_date && task.end_date %>
                  <p class=""><i class="fa-solid fa-clock-rotate-left"></i> <%= I18n.l task.end_date, format: '%e %B' %></p>
                <% end %>
                <% if task.user %>
                  <%= image_tag (cl_image_path task.user.photo.key), class: "avatar", alt: "avatar" %>
                <% end %>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-4">
      <p class="ms-5">Complété</p>
      <ul data-drag-target="done" class="colonne">
        <% @completed.order(position: :asc).each do |task| %>
          <li data-id="<%= task.id %>" data-move="<%= move_path(task) %>" class="task-card d-flex flex-column justify-content-between link-card">
            <a data-bs-toggle="modal" data-bs-target="#task-<%= task.id %>">
              <div class="d-flex justify-content-between">
                <h6><%= task.name %></h6>
                <% if task.category %>
                  <span class="task-badge"><%= task.category %></span>
                <% end %>
              </div>
              <div class="d-flex justify-content-between align-items-end pt-3">
                <% if task.start_date && task.end_date %>
                  <p class=""><i class="fa-solid fa-clock-rotate-left"></i> <%= I18n.l task.end_date, format: '%e %B' %></p>
                <% end %>
                <% if task.user %>
                  <%= image_tag (cl_image_path task.user.photo.key), class: "avatar", alt: "avatar" %>
                <% end %>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newtask" tabindex="-1" aria-labelledby="newtask" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newtaskLabel">Nouvelle tâche</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@room, @task] do |f| %>
          <%= f.input :name, label: 'Titre', placeholder: "Peindre le plafond", required: false, autofocus: true, :label_html => { :class => 'label' } %>
          <%= f.input :description, label: 'Description', placeholder: "Peindre le plafond en blanc", required: false, autofocus: true, :label_html => { :class => 'label' } %>
          <%= f.association :user, collection: @room.project.professionnals, label_method: :full_name, value_method: :id, label: 'Artisan', placeholder: "Monsieur propre", :label_html => { :class => 'label' } %>
          <%= f.input :category, priority: [ "Peinture" ], collection: ['Peinture', 'Plomberie', 'Maçonnerie', 'Electricité', 'Menuiserie'], label: 'Type', :label_html => { :class => 'label' } %>
          <div class="row" data-controller="flatpickr" >
            <div class="col-6">
              <%= f.input :start_date, as: :string, label: 'Début', placeholder: "1er Septembre 2022", required: false, input_html: { data: { flatpickr_target: 'startDateInput' } }, :label_html => { :class => 'label' }, data: {
                controller: "flatpickr",
                flatpickr_alt_format: t("date.formats.long"),
                flatpickr_alt_input: true,
                flatpickr_min_date: Time.zone.now,
              } %>
            </div>
            <div class="col-6">
              <%= f.input :end_date, as: :string, label: 'Fin', placeholder: "2 Septembre 2022", required: false, input_html: { data: { flatpickr_target: 'endDateInput' } }, :label_html => { :class => 'label' } %>
            </div>
          </div>

          <%= f.submit "Ajouter", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
