<div class="header">
  <div class="container-header-dashboard container">
    <h2 class="fw-bold">Vos messages</h2>
    <p class="welcome">Discutez avec vos artisans 💬</p>
  </div>
</div>
<div class="container mt-5">
  <% if @chatrooms.empty? %>
    <div class="d-flex flex-column align-items-center mt-5">
      <%= render :partial => 'svg/empty' %>
      <h5 class="mt-5">Commencer par créer une conversation</h5>
      <p class="mt-1">Discuter facilement avec vos artisans afin de prévoir les interventions</p>
      <%= link_to artisans_path do %>
        <button type="button" class="btn btn-empty mt-4"><i class="fa-solid fa-plus"></i> Créer une conversation</button>
      <% end %>
    </div>
  <% else %>
    <div class="d-flex chat-container row" data-controller="scrolldown-conversation">
      <div class="col-4 chat-left">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <% @chatrooms.each do |chatroom| %>
            <button class="btn-transparent <%= 'active' if chatroom.professional.first_name == params[:query] %>" id="v-pills-<%= chatroom.id %>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%= chatroom.id %>" type="button" role="tab" aria-controls="v-pills-<%= chatroom.id %>" aria-selected="true">
              <div class="d-flex flex-row justify-content-start align-items-center contact-item" data-action="click->scrolldown-conversation#scrolldown">
                <%= cl_image_tag chatroom.professional.photo.key, class: "avatar me-4" %>
                <div class="d-flex flex-column justify-content-end align-items-start">
                  <h6 class="mb-0"><%= chatroom.professional.first_name %> <%= chatroom.professional.last_name %></h6>
                  <% if chatroom.messages != [] %>
                    <p style="text-align: left;"><%= chatroom.messages.last.content.first(80) %>...</p>
                  <% end %>
                </div>
              </div>
            </button>
          <% end %>
            <button class="btn-transparent" type="button" aria-selected="true">
              <%= link_to artisans_path, class:'text-decoration-none text-dark' do %>
                <div class="d-flex flex-row justify-content-start align-items-center contact-item" data-action="click->scrolldown-conversation#scrolldown">
                  <%= image_tag 'profile.jpeg', class: "avatar-blur me-4 " %>
                  <div class="d-flex flex-column justify-content-end align-items-start">
                    <h6 class="mb-0">Parler à quelqu'un d'autre</h6>
                    <p style="text-align: left;">Trouver l'artisan de vos rêves</p>
                  </div>
                </div>
              <% end %>
            </button>
        </div>
      </div>
      <div class="col-8 chat-right">
        <div class="tab-content" id="v-pills-tabContent">
          <% @chatrooms.each do |chatroom| %>
            <div class="tab-pane fade show <%= 'active' if chatroom.professional.first_name == params[:query] %>" id="v-pills-<%= chatroom.id %>" role="tabpanel" aria-labelledby="v-pills-<%= chatroom.id %>-tab" tabindex="0" data-controller="update-messages" data-update-messages-chatroom-id-value="<%= chatroom.id %>">
              <div class="messages" data-update-messages-target="list" data-scrolldown-conversation-target="conversation">
                <% if chatroom.messages != [] %>
                  <% chatroom.messages.each do |message| %>
                    <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                      <div class="container-message">
                        <small class="date-message">
                          <strong><%= message.user.first_name %></strong>
                          <i><%= I18n.l message.created_at, format: "%a %e %b à %l:%M" %></i>
                        </small>
                        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                          <p><%= message.content %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="d-flex flex-column align-items-center mt-5">
                    <%= render :partial => 'svg/empty' %>
                    <h5 class="mt-5">Ecrivez votre premier message</h5>
                    <p class="mt-1">"Hello <%= chatroom.professional.first_name %> 💬"</p>
                  </div>
                <% end %>
              </div>
              <%= simple_form_for [chatroom, @message],
              html: {class: "d-flex messagebar", data: { update_messages_target: "form", action: "submit->update-messages#send" }} do |f|
              %>
                <%= f.input :content,
                  label: false,
                  placeholder: "Hello #{chatroom.professional.first_name} 💬",
                  value: params[:content],
                  input_html: { data: { update_messages_target: "content" }},
                  wrapper_html: {class: "flex-grow-1 align-items-center justify-content-center" }
                %>
                <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
