<div class="container" data-controller="rooms-photo">
  <div class="row" >
    <%= simple_form_for [@project, @room] do |f| %>
      <%= f.input :room_type,
                as: :check_boxes,
                collection: Room::ROOM_TYPES,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector', data: { action: "change->rooms-photo#display" }},
                :label_html => { :class => 'label' }, label: "Type de pièce :" %>
      <div class="row mt-5" style="width: 1130px; padding-left: 8px;">
        <% Room::ROOM_TYPES.each do |room| %>
          <div class="col-3" style="display: flex; justify-content: center; padding: 0; width: ">
            <%= f.simple_fields_for room.to_sym do |ff|  %>
              <%= ff.input :photos, as: :file,
                            input_html: { multiple: true, class: "d-none" },
                            label_html: { id: room, class: 'upload_photo d-none', data: {rooms_photo_target: "hidden"}}, label: '📷 Ajouter des photos' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <%= f.submit "Ajouter", class: "btn-modal submit_form"%>
      </div>
    <% end %>
  </div>
</div>
