
<div class="d-flex justify-content-between">
  <h1>Bienvenue à la maison</h1>
  <div class="dropdown">

    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <h6>
        <i class="fa-solid fa-ellipsis"></i>
      </h6>
    </a>

    <ul class="dropdown-menu">
      <%= link_to edit_project_path(@project), class: 'text-decoration-none' do %>
        <li><p class="dropdown-item"><i class="fa-solid fa-pen pe-2"></i>Modifier</p></li>
      <% end %>
      <%= link_to project_path(@project), class: 'text-decoration-none', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <li><p class="dropdown-item"><i class="fa-solid fa-trash pe-2"></i>Supprimer</p></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row hero-project">
  <% if @project.photo.key %>
    <div class="col-7 d-flex img-hero" style="background-image: url('<%= cl_image_path @project.photo.key %>')">
      <div class="d-flex flex-direction-row align-items-end">
        <p class="badge rounded-pill text-bg-dark mx-2"><i class="fa-solid fa-location-dot me-2"></i><%= @project.address %></p>
        <p class="badge rounded-pill text-bg-dark mx-2"><%= @rooms.count %> pièces à rénover</p>
        <p class="badge rounded-pill text-bg-dark mx-2">Budget: <%= @project.budget %> €</p>
      </div>
    </div>
  <% else %>
    <div class="d-flex col-7 img-hero" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" %>')">
      <p style="position: absolute; bottom: 0px; left: 0px; color: white;"><i class="fa-solid fa-location-dot px-3"></i><%= @project.address %></p>
      <p style="position: absolute; bottom: 30px; right: 5px; color: white;"><%= @rooms.count %> pièces à rénover</p>
      <p style="position: absolute; bottom: 0px; right: 5px; color: white;">Budget: <%= @project.budget %> €</p>
      <i class="fa-solid fa-plus"><input class="form-control file optional" autofocus="autofocus" type="file" name="project[photo]" id="project_photo"></i>
    </div>
  <% end %>

  <div class="col-5 card-params"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
