<h2>Bienvenue à la maison</h2>
<div class="d-flex col-7 img-size" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @project.photo.key %>'); position: relative;">
  <p style="position: absolute; bottom: 0px; left: 0px; color: white;"><i class="fa-solid fa-location-dot px-3"></i><%= @project.address %></p>
  <p style="position: absolute; bottom: 30px; right: 5px; color: white;"><%= @rooms.count %> pièces à rénover</p>
  <p style="position: absolute; bottom: 0px; right: 5px; color: white;">Budget: <%= @project.budget %> €</p>
</div>
<div class="col-5 card-params"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
