<!-- Modal -->
<div class="modal fade" id="Modal-<%= artisan.id%>" tabindex="-1" aria-labelledby="<%= artisan.id%>ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-start">
        <div class="d-flex justify-content-start">
          <%= cl_image_tag artisan.photo.key, class: "avatar-large me-3" %>
          <h5 class="modal-title" id="<%= artisan.id%>ModalLabel"><%= artisan.first_name %> <%= artisan.last_name %></h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if artisan.speciality %>
          <div class="mb-4">
            <p class="label mb-1">Spécialité</p>
            <%= artisan.speciality %>
          </div>
        <% end %>
        <% if artisan.bio %>
          <div class="mb-4">
            <p class="label mb-1">Bio</p>
            <%= artisan.bio %>
          </div>
        <% end %>
        <% if artisan.email %>
          <div class="mb-3">
            <p class="label mb-1 mt-4">Email</p>
            <%= artisan.email %>
          </div>
        <% end %>
        <% if artisan.phone_number %>
          <div>
            <p class="label mb-1 mt-4">Numéro de téléphone</p>
            <%= artisan.phone_number %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ajouter
        </button>
        <ul class="dropdown-menu">
          <% current_user.projects.each do |project| %>
            <% if project.assigned?(artisan) %>
              <li class="btn disabled">
                <i class="fa-solid fa-circle-exclamation"></i> Déjà sur <%= project.name %>
              </li>
            <% else %>
              <li class="p-1">
                <%= simple_form_for [project, @participation] do |f| %>
                <div class="d-none">
                  <%= f.input :user_id, input_html: {value: artisan.id} %>
                </div>
                  <%= f.submit "Ajouter à #{project.name}", class:'btn btn-transparent' %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
