<!-- Modal -->
<div class="modal fade" id="Modal-<%= artisan.id%>" tabindex="-1" aria-labelledby="<%= artisan.id%>ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= artisan.id%>ModalLabel"><%= artisan.first_name %> <%= artisan.last_name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= artisan.speciality %>
        <br>
        <%= artisan.bio %>
        <br>
        <%= artisan.email %>
        <%= artisan.phone_number %>
        <div class="d-flex justify-content-around mt-3">
          <%= cl_image_tag artisan.photo.key, class: "avatar" %>
        </div>
      </div>
      <div class="modal-footer">
        <% current_user.projects.each do |project| %>
          <%= simple_form_for [project, @participation] do |f| %>
            <%= f.input :user_id, input_html: {value: artisan.id} %>
            <%= f.submit "Ajouter à mon équipe" %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
