<div class="container navbar navbar-expand-sm navbar-lewagon">
  <ul>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo_with_text.svg", alt: "Yarder logo"%>
    <% end %>
  </ul>
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link mx-2"  do %>
          <span><%= render :partial => 'svg/home' %>Dashboard</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to projects_path, class: "nav-link mx-2"  do %>
          <span><%= render :partial => 'svg/box' %>Projets</span>
        <% end %>
      </li>
      <%= link_to dashboard_path do %>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link mx-2"  do %>
          <span><%= render :partial => 'svg/message' %>Messages</span>
        <% end %>
      </li>
      <% end %>
    <% else %>
      <li class="nav-item mx-4">Artisans</li>
      <li class="nav-item">Particulier</li>
    <% end %>
  </ul>
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item">

      <% if current_user.photo.attached? %>
        <div class="nav-menu dropdown">
          <span><i class="fa-solid fa-bars"></i></span>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Profil", "https://memegenerator.net/img/instances/68155132/move-along-nothing-to-see-here.jpg", class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </div>
      <% end %>

      </li>
    <% else %>
      <li class="nav-item mx-2">
        <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="btn-cta">
        <%= link_to "Créer un compte", new_user_registration_path, class: "nav-link btn-user rounded-5 px-4" %>
      </li>
    <% end %>
  </ul>
</div>
