<div class="container navbar navbar-expand-sm navbar-lewagon">
  <ul>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo_with_text.svg", alt: "Yarder logo"%>
    <% end %>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item mx-4">Artisans</li>
    <li class="nav-item">Particulier</li>
  </ul>
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Find a bike", bikes_path, class: "nav-link mx-2" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add my bike", new_bike_path, class: "nav-link mx-2" %>
      </li>
      <li class="nav-item">
        <%= link_to "My dashboard", dashboard_path, class: "nav-link mx-2" %>
      </li>
      <li class="nav-item dropdown">
      <% if current_user.photo.attached? %>
        <%= image_tag (cl_image_path current_user.photo.key), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", "https://memegenerator.net/img/instances/68155132/move-along-nothing-to-see-here.jpg", class: "dropdown-item" %>
          <%= link_to "Messages", "https://memegenerator.net/img/instances/68155132/move-along-nothing-to-see-here.jpg", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="nav-item mx-2">
        <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
      </li>
        <li class="btn-cta">
        <%= link_to "Créer un compte", new_user_registration_path, class: "nav-link btn-user rounded-5 px-4" %>
      </li>
    <% end %>
  </ul>
</div>
