<div class="container-nav navbar navbar-expand-sm navbar-lewagon">
  <ul>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo_with_text.svg", alt: "Yarder logo"%>
    <% end %>
  </ul>
  <ul class="navbar-nav ms-5">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link mx-2"  do %>
          <span><%= render :partial => 'svg/home' %>Dashboard</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link mx-2"  do %>
          <span><%= render :partial => 'svg/box' %>Projets</span>
        <% end %>
      </li>
      <%= link_to dashboard_path do %>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link mx-2"  do %>
          <span><%= render :partial => 'svg/message' %>Messages</span>
        <% end %>
      </li>
      <% end %>
    <% else %>
      <li class="nav-item mx-4">Artisans</li>
      <li class="nav-item">Particulier</li>
    <% end %>
  </ul>
  <ul class="navbar-nav d-flex align-items-baseline">
    <% if user_signed_in? %>
      <% if cookies[:theme] == "light" %>
        <%= link_to root_path(theme: "dark") do %>
          <li class="ms-3"><%= render :partial => 'svg/light' %></li>
        <% end %>
      <% else %>
        <%= link_to root_path(theme: "light") do %>
          <li class="ms-3"><%= render :partial => 'svg/dark' %></li>
        <% end %>
      <% end %>
      <li class="nav-item ms-3">
        <% if current_user.photo.attached? %>
          <div class="nav-menu dropdown">
            <span><i class="fa-solid fa-bars"></i></span>
            <% avatar_url = current_user.facebook_picture_url || (cl_image_path current_user.photo.key) %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item mx-2">
        <%= link_to new_user_session_path, class: "nav-link" do %>
          <button type="button" class="btn btn-link">Se connecter</button>
        <% end %>
      </li>
      <li class="btn-cta">
        <%= link_to new_user_registration_path, class: "nav-link" do %>
          <button type="button" class="btn btn-primary">Commencer <i class="fa-solid fa-arrow-right"></i></button>
        <% end %>
      </li>
      <% if cookies[:theme] == "light" %>
        <%= link_to root_path(theme: "dark") do %>
          <li class="me-3"><%= render :partial => 'svg/light' %></li>
        <% end %>
      <% else %>
        <%= link_to root_path(theme: "light") do %>
          <li class="me-3"><%= render :partial => 'svg/dark' %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
