<div class="d-flex justify-content-between align-items-baseline">
  <h1>Equipe</h1>
  <% if @participations.empty? == false %>
    <%= link_to artisans_path(@artisans) do %>
      <button class="btn btn-primary"><i class="fa-solid fa-plus"></i> Ajouter un membre</button>
    <% end %>
  <% end %>
</div>
<div class="container mt-5">
  <% if @participations.empty? %>
    <div class="d-flex flex-column align-items-center mt-5">
      <%= render :partial => 'svg/empty_pro' %>
      <h5 class="mt-5">Pas encore d'artisans ?</h5>
      <p class="mt-1">Trouver l'artisan qu'il vous faut</p>
      <%= link_to artisans_path do %>
        <button type="button" class="btn btn-empty mt-4"><i class="fa-solid fa-plus"></i> Ajouter un artisan</button>
      <% end %>
    </div>
  <% else %>
    <div class="professional-cards">
      <% @participations.each do |participation| %>
        <div class="card-pro">
          <div class="card-pro-content mt-3">
            <div class="d-flex flex-column align-items-center">
              <%= cl_image_tag participation.user.photo.key, class: "avatar" %>
              <h5 class="mt-2"><%= participation.user.first_name %> <%= participation.user.last_name %></h5>
              <p class="card-text"><%= participation.user.speciality %></p>
            </div>

            <div class="d-flex justify-content-around">
              <p><%= participation.user.speciality %></p>
            </div>
          </div>
          <div class="card-pro-footer">
            <div class="d-flex justify-content-center">
              <% if (participation.user.chatrooms_as_professional.select { |chatroom| chatroom.client == current_user }) == [] %>
                <%= link_to create_chatroom_path(professional: participation.user), data: { turbo_method: :post } do %>
                  <button type="button" class="btn btn-pro">Contacter <i class="fa-solid fa-comment"></i></button>
                <% end %>
              <% else %>
                <%= link_to chatrooms_path(query: participation.user.first_name) do %>
                  <button type="button" class="btn btn-pro">Contacter <i class="fa-solid fa-comment"></i></button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
