<div class="container">
  <div class="row" style="margin-bottom: 30px;">
    <div class="container">
      <div class="row" style="display: flex; justify-content: space-between; align-items: center">
        <div class="col-6">
          <h1>Pièces en rénovation</h1>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <% if @rooms.empty? == false %>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addrooms"><i class="fa-solid fa-plus"></i> Ajouter une pièce</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade" id="addrooms" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="container modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Ajouter des pièces à ce projet</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%= render "rooms/form", project: @project, room: @room %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="container">
      <% if @rooms.empty? %>
        <div class="d-flex flex-column align-items-center mt-5">
          <%= render :partial => 'svg/empty_room' %>
          <h5 class="mt-5">Commencer par ajouter une pièce</h5>
          <p class="mt-1">Ajouter facilement une pièce pour préparer sa rénovation</p>
          <button type="button" class="btn btn-empty mt-4" data-bs-toggle="modal" data-bs-target="#addroom"><i class="fa-solid fa-plus"></i> Ajouter une pièce</button>
        </div>
      <% else %>
        <% @rooms.each do |room| %>
          <div class="container">
            <div class="row card-pieces">
              <div class="col-3">
                <div class="cards-rooms">
                  <%= render "shared/room_card_small", project: @project, room: room %>
                </div>
              </div>
              <div class="col-9" style="padding: 20px 60px;">
                <h4><div class="row">Dernières taches ajoutées</div></h4>
                <% room.tasks.each do |task| %>
                  <div class="d-flex justify-content-between card-task-row">
                    <p class="task-title"><%= task.name %></p>
                    <% if task.category %>
                      <span class="task-badge"><%= task.category %></span>
                    <% end %>
                  </div>
                <% end %>
                <div class="d-flex justify-content-end">
                  <%= link_to "En savoir plus", project_room_path(room.project, room), class: "btn btn-primary", style: "width: 200px;" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="addroom" tabindex="0" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Créer ma pièce</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>1</li>
          <li>2</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
