
<div class="header">
  <div class="container-header container">
      <div class="d-flex flex-direction-row header-project">
        <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
        <div class="">
          <h5><%= @project.name %></h5>
          <p><%= @project.address %></p>
        </div>
    </div>
    <nav class="mt-5">
      <div class="nav nav-pills" id="nav-tab" role="tablist">
        <button class="nav-link nav-link-dashboard <%= "active" unless params[:active] %>" id="nav-synthese-tab" data-bs-toggle="tab" data-bs-target="#nav-synthese" type="button" role="tab" aria-controls="nav-overview" aria-selected="true">Synthèse</button>
        <button class="nav-link nav-link-dashboard <%= "active" if params[:active] == "piece" %>" id="nav-pieces-tab" data-bs-toggle="tab" data-bs-target="#nav-pieces" type="button" role="tab" aria-controls="nav-rooms" aria-selected="true">Pièces</button>
        <button class="nav-link nav-link-dashboard" id="nav-planning-tab" data-bs-toggle="tab" data-bs-target="#nav-planning" type="button" role="tab" aria-controls="nav-planning" aria-selected="true">Planning</button>
        <button class="nav-link nav-link-dashboard" id="nav-professionals-tab" data-bs-toggle="tab" data-bs-target="#nav-professionals" type="button" role="tab" aria-controls="nav-professionals" aria-selected="true">Artisans</button>
        <button class="nav-link nav-link-dashboard" id="nav-documents-tab" data-bs-toggle="tab" data-bs-target="#nav-documents" type="button" role="tab" aria-controls="nav-documents" aria-selected="true">Documents</button>
      </div>
    </nav>
  </div>
</div>

<div class="container py-5">

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-synthese" role="tabpanel" aria-labelledby="nav-synthese-tab" tabindex="0">
      <section class="section row">
        <div class="col-5">
          <h2>Bienvenue à la maison</h2>
          <h3 class="mt-5">Description</h3>
          <p><%= @project.description %></p>
        </div>
        <div class="col-3 card-params"
             data-controller="map"
             data-map-markers-value="<%= @markers.to_json %>"
             data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div class="col-4 card-params">
          <h6>Paramètre du projet</h6>
          <p><i class="fa-solid fa-location-dot px-3"></i><%= @project.address %></p>
          <div class="card-grid">
          </div>
          <p><i class="fa-solid fa-hourglass-half"></i><li><%= @project.urgency %></li></p>
          <p><li><%= @project.budget %> €</li></p>
          <p><li><%= @rooms.count %> pièces à rénover</li></p>
          <div class="card-grid">
          </div>
          <div class="d-flex justify-content-around">
            <div class="d-flex align-items-start">
              <i class="fa-solid fa-location-dot px-3"></i>
              <p><%= Geocoder.search([@project.latitude, @project.longitude]).first.city %></p>
            </div>
            <div class="d-flex align-items-start">
              <i class="fa-solid fa-house px-3"></i>
              <p><%= @project.building_type %></p>
            </div>
            <div class="d-flex align-items-start">
              <i class="fa-solid fa-hourglass-half px-3"></i>
              <p><%= @project.construction_year %></p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <%= render "shared/rooms_synthese" %>
      </section>
    </div>


    <div class="tab-pane fade show" id="nav-pieces" role="tabpanel" aria-labelledby="nav-pieces-tab" tabindex="0">
      <section class="section">
        <div class="d-flex justify-content-start align-items-center">
          <%= render "shared/rooms_index" %>
          </div>
        </div>
      </section>
    </div>


    <div class="tab-pane fade" id="nav-professionals" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <section class="section">
          <%= render "shared/professionals_index" %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
