<div class="simple-calendar">
  <div class="d-flex align-items-center justify-content-between mt-4">
    <div class="calendar-heading my-2">
      <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view, class: 'btn btn-calendar' %>
      <span class="calendar-title btn btn-calendar">Aujourd'hui</span>
      <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view, class: 'btn btn-calendar' %>
    </div>
    <%= link_to room_tasks_path(@project, @room) do %>
      <button class="btn btn-primary"><i class="fa-solid fa-plus"></i> Ajouter un rendez-vous</button>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |dates| %>
        <tr>
          <% dates.each do |date| %>
            <%= content_tag :td, class: calendar.td_classes_for(date) do %>
              <% passed_block.call date.day, sorted_events.fetch(date, []) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
