<div class="container-header">
</div>
<div class="container p-5">
  <div class="row">
    <div class="col-6">
      <h2 style="text-align: center; margin-top: 16px; font-size: xxx-large; font-weight: bold;">Bienvenue !</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        placeholder: 'elon.musk@spacex.com',
                        label: 'Email',
                        :label_html => { :class => 'label' },
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        label: 'Mot de passe',
                        :label_html => { :class => 'label' },
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div>
            <div class="form-actions d-flex justify-content-between">
              <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "btn btn-link" %><br />
              <%= f.button :submit, "Se connecter", class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
        <div class="hr mt-4"></div>
        <div>
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
        </div>


        <div class="py-5">
          <div class="form-actions d-flex justify-content-start align-items-baseline">
              <p>Pas encore de compte ?</p>
              <%= link_to "Créer un compte", new_registration_path(resource_name), class: "btn btn-link ms-2" %>
          </div>
        </div>
    </div>

    <div class="col-6">
      <img class="img-login" src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Login home">
    </div>
  </div>
</div>
