<div class="header">
  <div class="container-header-dashboard container">
  </div>
</div>

<div class="container" style="margin-top: 10px">
  <h1>Modifier <%= @room.name %></h1>
  <div class="row" style="height: 300px; margin-bottom: 25px">
    <div class="col-6" style="height: 300px">
      <% if @room.photos.first do %>
        <%= cl_image_tag @room.photos.first.key, class: "photo-big" %>
        <%= link_to delete_photo_path(@room, photo) %>
          <button type="button" class="btn btn-primary">Supprimer</button>
        <% end %>
      <% else %>
        <%= link_to edit_room_path(@room.project, @room) do%>
          <button type="button" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Ajouter votre photo</button>
        <% end %>

      <% end %>
    </div>
    <div class="col-6">
      <div class="row" style="height: 150px">
        <div class="col-6" style="height: 150px">
          <% if @room.photos.count != 0 %>
            <% @room.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <%= link_to "Supprimer", delete_photo_path(@room, photo) %>
            <% end %>
          <% else %>
            <i class="fas fa-image"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ajouter des photos
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
                <%= simple_form_for [@room.project, @room] do |f| %>
                  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                  <%= f.submit "Ajouter des photos"%>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <br>
    <%= link_to project_room_path(@room.project, @room) do %>
      <p class="btn btn-show-room-back"><i class="fa-solid fa-xmark"></i></i> Annuler</p>
    <% end %>

    <%= link_to project_room_path(@room.project, @room) do %>
      <button type="button" class="btn btn-primary"><i class="fa-solid fa-check"></i> Valider</button>
    <% end %>
  </div>
</div>
