<div class="header">
  <div class="container-header-dashboard container">
  </div>
</div>

<div class="container" style="margin-top: 10px">
  <h1>Modification de : <%= @room.name %></h1>
  <div class="row" style="height: 300px; margin-bottom: 25px">
    <div class="col-6" style="height: 300px">
      <% if @room.photos.first %>
        <%= cl_image_tag @room.photos.first.key, class: "photo-big" %>
      <% else %>
        <%= link_to "Ajouter votre première photo!", edit_room_path(@room.project, @room)%>
      <% end %>
    </div>
    <div class="col-6">
      <div class="row" style="height: 150px">
        <div class="col-6" style="height: 150px">
          <% if @room.photos.second %>
            <%= cl_image_tag @room.photos.second.key, class: "photo-small" %>
          <% end %>
        </div>
        <div class="col-6" style="height: 150px">
          <% if @room.photos.third %>
            <%= cl_image_tag @room.photos.third.key, class: "photo-small" %>
          <% end %>
        </div>
      </div>
      <div class="row" style="height: 150px">
        <div class="col-6">
          <% if @room.photos.fourth %>
            <%= cl_image_tag @room.photos.fourth.key, class: "photo-small" %>
          <% end %>
        </div>
        <div class="col-6">
          <% if @room.photos.fifth %>
            <%= cl_image_tag @room.photos.fifth.key, class: "photo-small" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


    <% if @room.photos.count != 0 %>
      <% @room.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <%= link_to "Supprimer", delete_photo_path(@room, photo) %>
      <% end %>
    <% else %>
      <i class="fas fa-image"></i>
    <% end %>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ajouter des photos
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
                <%= simple_form_for [@room.project, @room] do |f| %>
                  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                  <%= f.submit "Ajouter des photos"%>
                <% end %>
            </div>
          </div>
        </div>
      </div>

    <br>
    <%= link_to "Annuler", project_room_path(@room.project, @room) %>
    <br>
    <%= link_to "Valider", project_room_path(@room.project, @room) %>

</div>
