<div class="header">
  <div class="container-header-dashboard container">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= link_to project_path(@room.project) do %>
        <button class="btn btn-show-room-back"><i class="fa-solid fa-arrow-left"></i> Retour à mon projet</button>
      <% end %>

    </div>
    <div class="col-8 header-show">

    <%#= link_to "Modifier", edit_room_path(@room.project, @room), class: "btn btn-outline-primary me-2" %>
    <%#= link_to "Supprimer", project_room_path(@room.project, @room),
                             data: {turbo_method: :delete, controller: "sweetalert",
                             action: "click->sweetalert#roomDelete",
                             sweetalert_path_value: project_room_path(@room.project, @room),
                             sweetalert_redirection_value: project_path(@room.project) }, class: "btn btn-outline-danger" %>
    </div>
  </div>

  <div class="container">
    <h1 class="mb-4"><%= @room.name %></h1>
    <div class="row container-img-room">
      <div class="col-6" style="height: 100%">
        <% if @room.photos.first %>
          <%= cl_image_tag @room.photos.first.key, class: "photo-big" %>
        <% else %>
          <%= link_to edit_room_path(@room.project, @room) do%>
            <div class="photo-big-empty">
              <div class="filter-blur"></div>
              <h6 class="content-img-empty">Ajouter votre première photo</h6>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-6" style="height: 100%">
        <div class="row" style="height: 48%">
          <div class="col-6" style="height: 100%">
            <% if @room.photos.second %>
              <%= cl_image_tag @room.photos.second.key, class: "photo-small" %>
            <% end %>
          </div>
          <div class="col-6" style="height: 100%">
            <% if @room.photos.third %>
              <%= cl_image_tag @room.photos.third.key, class: "photo-small" %>
            <% end %>
          </div>
        </div>
        <div class="row" style="height: 48%">
          <div class="col-6" style="height: 100%; margin-top: 12px">
            <% if @room.photos.fourth %>
              <%= cl_image_tag @room.photos.fourth.key, class: "photo-small" %>
            <% end %>
          </div>
          <div class="col-6" style="height: 100%; margin-top: 12px">
            <% if @room.photos.fifth %>
              <%= cl_image_tag @room.photos.fifth.key, class: "photo-small" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%# <div class="row">
      <div class="col-7" style="padding-right: 50px">
        <h4>Description</h4>
        <br>
        <p>Adaaran Club Rannalhi is featured among the best hotels in Maldives and sits exclusively at the tip of the South Male atoll within the exotic collection of islands known as the Maldives. Its unique location offers access to pristine beaches, excellent scuba diving opportunities and a relaxed environment with easy access to the capital city of Male.</p>
      </div>
      <div class="col-5">
        <div class="card-params">
        <h6>Paramètres de la pièce</h6>
          <div class="row" style="margin-top: 30px">
            <div class="col-6">
              <p>Date de début:</p>
              <p>Placeholder</p>
            </div>
            <div class="col-6">
              <p>Date de fin:</p>
              <p>Placeholder</p>
            </div>
            <div class="row border-top" style="padding-top: 16px">
              <div class="col-6">
                <h6>Budget: </h6>
              </div>
              <div class="col-6" style="display: flex; justify-content: flex-end;">
                <h6>Placeholder</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> %>

    <%= render "tasks/todo", room: @room, task: @task %>
</div>
