<div class="header">
  <div class="container-header container">
    <h1 class="fw-bold">Bonjour<%= current_user.first_name %> 🎉</h1>
    <h6 class="welcome">Bienvenue à la maison !</h6>
    <nav class="mt-5">
      <div class="nav nav-pills" id="nav-tab" role="tablist">
        <div>Propriétés
        </div>
        <div>Mes chantiers en cours
        </div>
        <div>Messages non vus
        </div>
        <div>Paiements en attente
        </div>
      </div>
    </nav>
  </div>
</div>


<% if @projects.empty? %>
  <div class="container">
    <div>
      <div>
        <section class="section">
          <div class="d-flex justify-content-start align-items-center">
            <div>
              <h3>Pas encore de projet ?</h3>
              <p>Créer votre projet en quelques clics</p>
              <%= link_to "Créer mon projet", new_project_path, class: "btn btn-outline-dark" %>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
<% end %>

<div class="project-card">
  <%= link_to project_path(project) do %>
    <% if project.photo.attached? %>
      <img class="card-img-top img-size" src="<%= cl_image_path project.photo.key %>" alt="Card image cap">
    <% else %>
      <img class="card-img-top img-size" src="https://images.unsplash.com/photo/_TPTXZd9mOo" alt="Villa">
    <% end  %>
    <div class="d-flex justify-content-between">
      <div class="d-flex"><i class="fa-solid fa-location-dot"></i><p style="margin-left: 4px"></p></div>
      <p class="card-text"><strong><%= project.name %></strong></p>
    </div>
    <p class="card-text"><em><%= project.urgency %></em></p>
    <div class="d-flex justify-content-between">
      <div class="d-flex"><span class="badge rounded-5 text-bg-dark mb-3"><%= project.budget %></span></div>
    </div>
  <% end %>
</div>
